
/*********************************************/
/********
/********
/********				ID
/********
/********
/*********************************************/

#header{
	background-color: #137cb5;
	height: 60px;
}

#logo{
	height: 85px;
	position: absolute;
}


/*********************************************/
/********
/********
/********				CLASES
/********
/********
/*********************************************/

.nota{
	background-color: #D8D8D8;
}

/*********************************************/
/********
/********
/********				TAGS
/********
/********
/*********************************************/

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.menu {
    display: inline;
}
